﻿<%@ Page Title="" Language="C#" MasterPageFile="Default.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Leyfi.Default1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<div class="hero-unit">
        <h1>Leyfi</h1>
        <p>Aplikasi ini bertugas mengatur user dan role security aplikasi Modabile dan VR6.</p>
        <p></p>
      </div>
</asp:Content>
